{% extends 'base.html.twig' %}

{% block title %} Accueil {% endblock %}

{% block body %}
    <section class="article">
        <h2>Bienvenue sur notre plateforme cosmique</h2>
        <div id="contenu"><span>Une loup ne meurt pas en vain </span><span>Une loup ne meurt pas en vain </span><span>Une loup ne meurt pas en vain </span><span>Une loup ne meurt pas en vain </span><span>Une loup ne meurt pas en vain </span>
            <div class="card"><img src="http://placehold.it/400x200" alt=""></div>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium ad adipisci assumenda, beatae
                corporis cupiditate, distinctio doloribus excepturi nemo nesciunt non officia officiis pariatur
                perferendis porro praesentium quae, quia quisquam reiciendis repellat sequi soluta tempora velit. Ab,
                accusantium dolorum impedit in ipsam ipsum laborum, nemo, odio porro possimus quas sequi.
            </p>
            <p>Aperiam architecto consectetur debitis et eum explicabo facere hic nam natus nihil odit, perferendis
                possimus quibusdam quod saepe sequi voluptas? A, ad commodi consectetur cum cupiditate deserunt
                doloribus earum eos eum incidunt inventore ipsum labore modi mollitia necessitatibus qui quidem, sed
                velit veritatis voluptatibus? Alias cumque dolore esse iste minus?
            </p>
        </div>
    </section>
{% endblock %}